<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body style="background-color: #C4E8F5">
    <div class="row" style="background-color: rgb(119, 188, 222); color:#fff;display:block;height:auto; padding:10px 20px 10px 20px; position: fixed; right:0; left:0;top:0; z-index:999">
        <div class="col-sm-6" style="font-size:25px;"><a class="link admin" href="{{ path('_welcome') }}">Symfony<strong>Blog</strong></a></div>
        <div class="col-sm-6" style="line-height: 33px;">{% block login %}{% endblock %}</div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
